<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script></head>
<body>
<!--<p th:text="'Hello！, ' + ${name} + '!'" ></p></body>-->
<p th:text="'Hello!'" ></p>
<p>1234</p>
<p>1234</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<p>""</p>
<script type="text/javascript">
    /* 鼠标特效 */
    var index = 0;
    jQuery(document).ready(function($) {
        $("body").click(function(e) {
            var a = new Array("❤读书❤","❤学习❤","❤看书❤","❤加班❤");
            var $i = $("<span></span>").text("❤"+a[index]+"❤");
            index = (index + 1) % a.length;
            var x = e.pageX,
                y = e.pageY;
            $i.css({
                "z-index": 999,
                "top": y - 20,
                "left": x,
                "position": "absolute",
                "font-weight": "bold",
                "color": "rgb("+~~(255*Math.random())+","+~~(255*Math.random())+","+~~(255*Math.random())+")"
            });
            $("body").append($i);
            $i.animate({
                    "top": y - 200,
                    "opacity": 0
                },
                2000,
                function() {
                    $i.remove();
                });
        });
    });
</script>
</body>
</html>