<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'book list'"></p>
<div>
    <table>
        <thead>
        <tr>
            <th>ISBN</th>
            <th>书名</th>
            <th>作者</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="bookList" type="list"*/-->
        <tr th:each="book : ${bookList}">
            <!--/*@thymesVar id="book" type="com.hello.model.dto.BookInfoRespDTO"*/-->
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>